h1 {
    background-color: red;
    text-transform: uppercase;
    text-align: center;
}
.uno {
background-color: pink;
}
.dos {
    background-color: orange;
}
.tres {
    background-color: olivedrab;
}
form {
    background-color: blueviolet;
    width: 500px;
    border-radius: 3px;
    margin-left: 0 auto;

}
p {
   text-align: center;

}
h3 {
    text-align: center;
}
h5 {
    background-color: rgba(127, 255, 212, 0.491);
    
    }

