.contacto{
    display: flex;
    gap: 24px;
}
.contacto div{
    width: 100%;
}
.p{
    font-size: 14px;
}

.datos ul li{
    font-size: 13px;
    list-style: none;
    
}

.formulario p{
    display: flex;
}

.formulario p label{
    min-width: 80px;
}

.formulario p label{
    display: flex;
    align-items: center;
}

.formulario p:nth-child(4) {
    align-items: start;
}

.formulario textarea{
    resize: none;
    height: 150px;
}

.formulario input[type=submit] {
    background: #F6F205;
    color: brown;
    font-size: 16px;
    width: auto;
    position: relative;
    left: 80px;
    cursor: pointer;
    font-weight: bold;
}
.formulario input[type="submit"]:hover{
    background-color:#F5C37B ;
}
.horariosDeAtencion {
    font-size: 16px;
    /*gap: 20px;*/
}